*{
    margin:0;
    padding:0;
}

body{
    text-align: center;
    background-color: rgb(172, 170, 170);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.stage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    flex-direction: column;
    margin: 50px auto;
}

.line{
    display: flex;
}

.fa-x{
    color:red;
    font-size: 120px;
}

.fa-circle{
    font-size: 100px;
    color:blue;
}

.square{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 0;
    position:relative;
    transition: all .1s ease-out;
    box-sizing: border-box;
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover{
    cursor: pointer;
}

#reset{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color:  rgb(34, 163, 228);
    color: white;
}
#reset:hover{
    cursor: pointer;
    background-color: rgb(26, 124, 173)
}

#alertWin{
    position: absolute;
    width:500px;
    box-sizing: border-box;
    height: 200px;
    top: 200px;
    left:50% ;
    transform: translateX(-50%);
    background-color: rgba(66, 65, 65, 0.929);
    color:white;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    gap:50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    padding: 20px;
}

.sec{
    background-color: rgb(0, 255, 8);
    height: 5px;
    width: 400px;
    position: absolute;
    display: none;
}

.a1{
    top:150px;
    left: 100px;
}

.a2{
    top:300px;
    left: 100px;
}

.a3{
    top:450px;
    left: 100px;
}

.a4{
    rotate: 90deg;
    left: -50px;
    top: 300px;
}

.a5{
    rotate: 90deg;
    top:300px;
    left:100px;
}

.a6{
    rotate: 90deg;
    top:300px;
    left: 250px;
}

.a7{
    rotate: 45deg;
    top:300px;
    left:75px;
    width: 450px;
}
.a8{
    rotate: -45deg;
    top:300px;
    left:75px;
    width: 450px;
}

.s0, .s1, .s2{
    border-top:none ;
}

.s0 , .s3 , .s6{
    border-left:none;
}

.s2, .s5, .s8{
    border-right:none;
}

.s6, .s7, .s8{
    border-bottom:none;
}